.btn-menu {
  padding: 4px 8px;
  background-color: brown;
  border: none;
  color: white;
}

.btn-hot {
  font-size: 24px;
}

.mini-mart {
  background-color: blueviolet;
  font-size: 14px;
}

.lethiba {
  font-weight: bold;
}

.mai-nha {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;

  border-bottom: 65px solid red;
}

.than-nha {
  height: 120px;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: orange;
}

#cua {
  margin-top: -80px;
  margin-left: 70px;
  width: 60px;
  height: 80px;
  background-color: #ffe6cc;
}

.cua-so {
  width: 40px;
  height: 40px;
  background-color: #362e1a;
  margin-top: -80px;
  margin-left: 20px;
}
